* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: helvetica;
	}
h1 {
	margin-bottom: 20px;
	text-align: center;
}
.row {
	width: 100%
}
.house {
    float: left;
    background-color:grey;
    position: relative;
    border:1px solid black;
    margin: 10px;
}

h4 {
	float: right;
	position: relative;
	width: 100px;
	border: 1px solid blue;
	color: blue;
	background-color: green;
	vertical-align: center;
	padding: 5px;
	text-align: center;
}
p {
	clear: both;
	position: relative;
	font-size: 1.25em;
	background-color: grey;
	border: 1px solid black;
  	width: 100%;
  	padding: 10px;
}
@media (min-width: 992px) {
	.col-lg-4
	{ float: left;
	width: 30%;
	border: 10px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-4 {
		width: 47.5%;
		float: left;
		border: 10px;
	}
	.col-md-1 {
		width: 100%;
		float: left;
		border: 10px;
		position: relative;
	}
}
@media (max-width: 767px) {
	.col-sm-1 { float: bottom;
				border: 10px;
				width: 100%
	}
}
